<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diros.mapper.CommentsMapper">
<insert id="insert" parameterType="Comments" keyProperty="contentId"  keyColumn="content_id">

		insert into 
		comment(
		  content_Id,
	  	  post_Id,
	  	  content,
		  f_Id,
	      create_Dt,
	      user_Id,
	      state
		) 
		values ( 
		#{contentId,jdbcType=DECIMAL},
		#{postId,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{fId,jdbcType=DECIMAL},
		#{createDt,jdbcType=TIMESTAMP},
		#{user.userId,jdbcType=DECIMAL},
		#{state,jdbcType=DECIMAL}
		);
		<selectKey keyProperty="contentId" resultType="int" order="AFTER">

			select LAST_INSERT_ID() 

		</selectKey> 
</insert>

	<!-- 修改 -->
	<update id="update" parameterType="Comments">
		update Comments
		<set>
				<if test="postId != null">
				post_Id = #{"postId != null",jdbcType=DECIMAL},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
			<if test="fId != null">
				f_Id = #{fId,jdbcType=DECIMAL},
			</if>
			<if test="createDt != null">
				create_Dt = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="user.userId != null">
				user_Id = #{user.userId,jdbcType=DECIMAL},
			</if>
				<if test="state != null">
				state = #{state,jdbcType=DECIMAL},
			</if>
		</set>
		where content_Id=#{contentId}
	</update>

	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from comment where content_id=#{contentId}
	</delete>
	<!-- 总查询 -->
	<resultMap type="comments" id="commentsResultMap">
    	<id property="contentId" column="content_Id" />  
	   <result property="postId" column="post_Id" />  
	    <result property="content" column="content" /> 
	     <result property="fId" column="f_Id" /> 
	     <result property="createDt" column="create_Dt" /> 
	     <result property="state" column="state" />
	    <association property="user" column="comments.user_id"  resultMap="com.diros.mapper.UserMapper.userResultMap"/>
	</resultMap>
	 
	<select id="findById" parameterType="int" resultType="User">
		select 
		comment.*,user.*,user.state u_state
		from comment 
		left join user on comment.user_id=user.user_id
		where content_id=#{contentId} 
	</select> 
	
	<select id="selectAll" resultMap="commentsResultMap">
		select 
		comment.*,user.*,user.state u_state
		from comment 
		left join user on comment.user_id=user.user_id
	</select>
	<!-- <select id="selectAll" resultType="commentsResultMap">
	select 
		  comment.content_Id contentId,
	  	  comment.post_Id postId,
	  	  comment.content content,
		  comment.f_Id fId,
	      comment.create_Dt createDt,
	      comment.user_Id userId,
	      comment.state state,
	from comment,user where comment.user_id=user.user_id
	</select>  -->
	<!-- Post_Id查询 -->
	<select id="selectByPost" resultMap="commentsResultMap" parameterType="int">
	select 
		comment.*,user.*,user.state u_state
		from comment 
		left join user on comment.user_id=user.user_id
	
	where post_id=#{postId}
	</select>
	<!-- 通过id查询 -->
	<!-- <select id="findById" parameterType="int" resultType="Post">
		select post_id postId,
		   title postTitle,
		   content postContent,
		   create_dt createDt,
			lost_mdy_dt lostMdyDt,
			user_id createUser,
			type type,
			state state,
			forum_id forumId
		 from post where post_id=#{postId}
	</select> -->
	<!-- 分页查询 -->
	<!-- <select id="selectPage" parameterType="Paging" resultType="Tem"> 
 	 <![CDATA[	SELECT * FROM (SELECT T.*,ROWNUM AS RN FROM(
				select * from Tem order by id asc
				) T WHERE  ROWNUM <= 10) WHERE RN > 1
 	  ]]>
	</select> -->
	<!-- 查询总数 -->
	<select id="count"  resultType="int">
		select count(*) FROM post;
	</select>
	<!-- 模糊查询包含分页 -->
	<!-- <select id="selectByNameAndKey"  resultType="Bpm">
		SELECT * FROM (SELECT T.*,ROWNUM AS RN FROM(
				select * from(
		select * from BPM 
		<where>
			<if test="bpm_name != null">
				bpm_name like '%'||#{name}||'%' and
			</if>
			<if test="bpm_code != null">
				bpm_code like '%'||#{key}||'%'
			</if>
		</where>
		<![CDATA[ 
		) T WHERE  ROWNUM <= #{paging.startRow,jdbcType=DECIMAL}+#{paging.counts,jdbcType=DECIMAL}) 
				WHERE RN > #{paging.startRow,jdbcType=DECIMAL}
				]]>
	</select> -->

	<!-- <select id="getAllPost" resultType="Post">
		select post.post_id newsId, title newsTitle, content newsContext,post.create_who createWho ,post.praise_count praiseCount,post.collect_count collectCount
		from post,content,user where post.type=1 and content.content_id=post.content_id and user.user_id=post.create_who;

	</select> -->
	<insert id="replyPost" parameterType="Comments">
		insert into 
		comment(
		  content_Id,
	  	  post_Id,
	  	  content,
	      create_Dt,
	      user_Id,
	      state
		) 
		values ( 
		#{contentId,jdbcType=DECIMAL},
		#{postId,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{createDt,jdbcType=TIMESTAMP},
		#{user.userId,jdbcType=DECIMAL},
		#{state,jdbcType=DECIMAL}
		);
	</insert>
	
	<insert id="reply" parameterType="Comments">
		insert into 
		comment(
		  content_Id,
	  	  	post_Id,
	  	  	content,
		  	f_Id,  <!-- if f_id=0,means reply for post, else reply for comments -->
	      	create_Dt,
	      	user_Id,
	      	state
		) 
		values ( 
		#{contentId,jdbcType=DECIMAL},
		#{postId,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{fId,jdbcType=DECIMAL},
		#{createDt,jdbcType=TIMESTAMP},
		#{user.userId,jdbcType=DECIMAL},
		#{state,jdbcType=DECIMAL}
		);
	</insert>
</mapper>