<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE configuration	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 系统变量设置 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="lazyLoadingEnabled" value="true" />
	</settings>
	<!--配置别名 -->
	<typeAliases>
		<!--分页对象 -->
		<typeAlias alias="Paging" type="com.diros.model.Paging" />
		<typeAlias alias="User" type="com.diros.model.User" />
		<typeAlias alias="Forum" type="com.diros.model.Forum" />
		<typeAlias alias="Post" type="com.diros.model.Post" />
		<typeAlias alias="News" type="com.diros.model.News" />
		<typeAlias alias="NewsComment" type="com.diros.model.NewsComment" />
		<typeAlias alias="Location" type="com.diros.model.Location" />
	</typeAliases>
	<mappers>
		<!-- <mapper resource="resource/UserDaoMapper.xml"/> <mapper resource="resource/BookDaoMapper.xml"/> -->
	</mappers>
</configuration>