<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diros.mapper.LocationMapper">

<insert id="insert" parameterType="Location">
	insert into LOCATION(title,place,start_time,end_time,details,label,initiator,state,type)
		values ( 
		#{title},
		#{place},
		#{startTime},
		#{endTime},
		#{details},
		#{initiator},
		#{state},		
		#{type}
		)
</insert>

	<!-- 修改 -->
	<update id="update" parameterType="Location">
		update LOCATION
		<set>
			<if test="title != null">
				title = #{title,jdbcType=DECIMAL},
			</if>			
			<if test="place != null">
				place = #{place,jdbcType=DECIMAL},
			</if>			
			<if test="startTime != null">
				start_time = #{startTime,jdbcType=DECIMAL},
			</if>			
			<if test="endTime != null">
				end_time = #{endTime,jdbcType=DECIMAL},
			</if>			
			<if test="details != null">
				details = #{details,jdbcType=DECIMAL},
			</if>			
			<if test="initiator != null">
				initiator = #{initiator,jdbcType=DECIMAL},
			</if>			
			<if test="state != null">
				state = #{state,jdbcType=DECIMAL},
			</if>					
			<if test="type != null">
				type = #{type,jdbcType=DECIMAL}
			</if>			
		</set>
		where id=#{id}
	</update>
		
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from LOCATION where id=#{id}
	</delete>
	<!-- 总查询 -->
	<select id="selectAll" resultType="Location">
		select id id, title title,place place, start_time startTime, end_time endTime, details details, initiator initiator, state state,type type from LOCATION
	</select>
	<!-- 通过id查询 -->
	<select id="findById" parameterType="int" resultType="Location">
		select * from LOCATION where id=#{id}
	</select>
	<!-- 分页查询 -->
	<!-- <select id="selectPage" parameterType="Paging" resultType="Tem"> 
 	 <![CDATA[	SELECT * FROM (SELECT T.*,ROWNUM AS RN FROM(
				select * from Tem order by id asc
				) T WHERE  ROWNUM <= 10) WHERE RN > 1
 	  ]]>
	</select> -->
	<!-- 查询总数 -->
	<select id="count"  resultType="int">
		select count(*) FROM LOCATION
	</select>
	<!-- 模糊查询包含分页 -->
	<!-- <select id="selectByNameAndKey"  resultType="Bpm">
		SELECT * FROM (SELECT T.*,ROWNUM AS RN FROM(
				select * from(
		select * from BPM 
		<where>
			<if test="bpm_name != null">
				bpm_name like '%'||#{name}||'%' and
			</if>
			<if test="bpm_code != null">
				bpm_code like '%'||#{key}||'%'
			</if>
		</where>
		<![CDATA[ 
		) T WHERE  ROWNUM <= #{paging.startRow,jdbcType=DECIMAL}+#{paging.counts,jdbcType=DECIMAL}) 
				WHERE RN > #{paging.startRow,jdbcType=DECIMAL}
				]]>
	</select> -->


</mapper>