/* CSS Document */
*{ padding:0; margin:0;}
body{ font-size:12px; background:#EEEEEE; font-family:"微软雅黑";}
a{ text-decoration:none;}
img{ border:none;}
ul,li{ list-style:none;}

.top{ height:100px; background:url(../images/top_bg.png) repeat-x; padding-bottom:6px;}
.top_center{ width:1280px; margin:0 auto; overflow:hidden; zoom:1;}
.top_center_d{ width:99px; height:100px; float:left;}
.top_center_main{ width:1081px; float:left; background:url(../images/top_center_bg.jpg) no-repeat; height:100px;}
.top_center_ad{ width:90px; height:90px; border:5px solid #efeeec; float:right;}
.top_center_logo{ width:1076px; height:50px; padding-left:5px; overflow:hidden; zoom:1;}
.top_center_logo a img{ margin-top:8px; float:left;}
.top_center_logo span{ width:120px; float:right; margin-right:10px; color:#FFFFFF; line-height:20px; padding-top:5px;}
.top_center_logo span a{ color:#FFFFFF; font-size:14px; margin:0 3px;}

.nav{ width:905px; padding-left:176px; height:50px; line-height:50px;}
.nav li{ float:left; margin:0 30px; font-size:20px;}
.nav li a{ color:#181818;}
.nav li a:hover{ color:#e7004e;}
#nav_li{ width:3px; background:url(../images/nav-li.jpg) no-repeat; height:50px; margin:0;}

.nav span{ width:150px; font-size:20px; color:#2f2f2f; float:right;}
.nav span a{ color:#cd4341; margin:0 5px;}

.hi{ width:236px; margin:0 auto; height:90px;}

.ceshi{ width:1085px; margin:0 auto; position:relative;}
.bg_fir{ width:33px; height:13px; left:13px; top:122px; position:absolute; background:#9a0338;}
.bg_sen{ width:150px; height:52px; line-height:52px; position:absolute; color:#FFFFFF; top:70px; background:#e70050; font-size:24px; text-align:center;}
.bg_sen a{ color:#FFFFFF;}
.bg_sen span{ font-size:28px; margin-right:5px;}
.ceshi_mainbox{ width:1035px; margin-left:45px; overflow:hidden; zoom:1;}

.ceshi_top{ width:1035px; background:url(../images/top_line.jpg) no-repeat; height:10px;}
.ceshi_bot{ width:1035px; height:15px; background:url(../images/bot.jpg) no-repeat;}
.ceshi_mainbox_detail{ width:930px; background:url(../images/cen_bg.jpg) repeat-y; padding-left:105px; overflow:hidden; zoom:1; _margin-top:-9px;}

.que_list{ width:522px; border-right:2px solid #d0d0c6; padding-top:10px; padding-bottom:10px; float:left;}
.que_list li{ width:500px; line-height:45px; font-size:24px; font-family:"������";}
.que_list li a{ color:#e70050;}
.que_list li span{ width:180px; height:50px; border:2px solid #eeeeee; float:right; text-align:center; font-size:24px; background:#FFFFFF;}
.que_list li span a{ color:#2f2f2f; display:block;}



.ceshi_an{ width:330px; float:left; padding-left:20px; padding-top:10px; padding-bottom:10px;}
.ceshi_an li{ line-height:35px; font-size:20px; font-family:"������";}
.ceshi_an li a{ color:#e6004f;}

.content{ width:1085px; margin:0 auto; margin-top:10px; overflow:hidden; zoom:1; padding-bottom:50px;}
.content_left{ width:725px; float:left;}
.content_right{ width:350px; float:right;}

.news{ width:725px; position:relative;}
.bg_fir_news{ width:33px; height:13px; left:13px; top:65px; position:absolute; background:#9a0338;}
.bg_sen_news{ width:150px; height:52px; line-height:52px; position:absolute; color:#FFFFFF; top:15px; background:#e70050; font-size:30px; text-align:center; overflow:hidden; zoom:1;}
.bg_sen_news a{ color:#FFFFFF;}
.bg_sen_news font{ font-size:24px; color:#FFFFFF; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}

.bg_sen_show{ width:725px; height:52px; line-height:52px; position:absolute; color:#FFFFFF; top:15px; font-size:24px;}
.bg_sen_show a{ width:150px; height:52px; line-height:52px; color:#FFFFFF; top:15px; background:#e70050; font-size:24px; text-align:center; display:block; float:left; margin-right:10px;}

.news_center{ width:680px; margin-left:45px;}
.news_center_top{ width:680px; height:10px; background:url(../images/top_line2.jpg) no-repeat;}
.news_center_bot{ width:680px; height:15px; background:url(../images/bot2.jpg) no-repeat;}

.news_center_detail{ width:680px; background:url(../images/cen_bg2.jpg) repeat-y; _margin-top:-9px;  padding-bottom:20px; overflow:hidden; zoom:1;}

.news_topnew{ width:525px; margin-left:10px; padding-left:115px; border-bottom:1px solid #c2c2c2; padding-bottom:10px; margin-bottom:10px; overflow:hidden; zoom:1;}
.news_topnew dt{ float:left; margin-right:15px; width:50px; margin-top:10px;}
.news_topnew dd{ line-height:25px; color:#484848;}
.news_topnew dd a{ color:#313131; font-size:16px; font-weight:bold;}
.news_topnew dd a:hover{ color:#e6004f;}
.news_topnew dd span{ float:right;}
.news_topnew dd span a{ color:#5b5b5b; font-size:12px; font-weight:normal;}
.news_topnew dd .one_floot{ font-size:22px; color:#e6004f; float:right; font-weight:bold;}

.news_list{ width:620px; margin-left:30px;}
.news_list li{ line-height:28px; color:#313131;}
.news_list li span{ float:right;}
.news_list li a{ color:#313131;}
.news_list li a:hover{ color:#e6004f;}
.news_list li span a{ color:#494949; margin:0 2px;}
.news_list li span font{ font-size:12px; color:#a0a0a0;}


.show{ width:725px; position:relative; margin-top:10px;}

.show_list{ padding-top:70px; width:600px; margin-left:40px; overflow:hidden; zoom:1;}
.show_list li{ border-bottom:2px solid #9e9e9e; width:120px; text-align:center; float:left; margin-bottom:15px; padding-bottom:5px;}
.show_list li a{ color:#212121; display:block;}
.show_list li img{ margin-bottom:10px;}
.show_list .nobot{ border-bottom:none;}



.ad{ width:348px; height:250px; border:1px solid #a0a0a0; background:#FFFFFF; text-align:center; line-height:250px;}

.hot{ width:350px; margin-top:10px;}
.hot h3{ height:30px; border-bottom:3px solid #a0a0a0; line-height:30px; font-size:16px; font-weight:bold; color:#303030; margin-bottom:10px;}
.hot a{ border:2px solid #a0a0a0; padding:3px 5px; background:#FFFFFF; color:#313131; line-height:30px; margin:0 5px;}

.talk{ width:350px; margin-top:10px;}
.talk h3{ height:30px; border-bottom:3px solid #a0a0a0; line-height:30px; font-size:16px; font-weight:bold; color:#303030; margin-bottom:10px;}
.talk dl{ border-bottom:1px solid #c2c2c2; padding-bottom:10px; margin-bottom:10px; overflow:hidden; zoom:1;}
.talk dt{ float:left; margin-right:15px; width:50px;}
.talk dd{ line-height:23px; color:#484848;}
.talk dd font{ font-size:12px; color:#a0a0a0;}
.talk dd span{ float:right;}
.talk dd a{ color:#484848;}

.hot li{ line-height:25px; color:#a0a0a0; font-family:"������";}
.hot li span{ color:#323232; margin:0 5px;}

.ceshi_detail{ width:430px; margin-left:140px; line-height:25px; color:#313133; font-size:14px; padding-top:15px; padding-bottom:30px; overflow:hidden; zoom:1;}
.ceshi_detail dl{ margin-bottom:20px;}
.ceshi_detail dd{ margin-left:30px;}
.ceshi_detail dd input{ margin-right:10px;}
.ceshi_detail span{ display:block; height:50px;}
.ceshi_detail .tijiao{ width:120px; height:50px; line-height:50px; border:2px solid #eeeeee; background:#ffffff; color:#2f2f2f; font-size:20px; text-align:center;}



.news_centersort{ width:540px; margin-left:120px;}
.news_centersort a{ border:2px solid #a0a0a0; padding:3px 5px; background:#FFFFFF; color:#313131; line-height:35px; margin:0 5px;}

.news_centerbox{ width:620px; margin-left:30px; padding-top:10px;}
.news_centerbox dl{ margin-top:10px; border-bottom:1px solid #c2c2c2; padding-bottom:10px; overflow:hidden; zoom:1;}
.news_centerbox dt{ float:left; margin-right:15px; width:50px; margin-top:10px;}
.news_centerbox dd{ line-height:23px; color:#484848;}
.news_centerbox dd a{ color:#313131; font-size:16px; font-weight:bold;}
.news_centerbox dd a:hover{ color:#e6004f;}
.news_centerbox dd span{ float:right;}
.news_centerbox dd span a{ color:#5b5b5b; font-size:12px; font-weight:normal;}
.news_centerbox dd .one_floot{ font-size:22px; color:#e6004f; float:right; font-weight:bold;}

.news_page{ width:620px; margin-left:30px; padding-top:10px; margin-top:20px; height:30px; line-height:30px; color:#313131; text-align:center; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.news_page a{ color:#313131; margin:0 3px;}

.tongcheng{ width:725px; height:50px; line-height:50px; margin-bottom:10px; background:#313131;}
.tongcheng span{ font-size:24px; color:#e5014e; margin-left:20px; float:left; margin-right:20px;}
.tongcheng a{ border:2px solid #a0a0a0; padding:3px 5px; background:#FFFFFF; color:#313131; margin:0 5px; }

.tongcheng_title{ width:540px; margin-left:120px; color:#a7a7a7; line-height:30px; padding-top:5px;}
.tongcheng_title li a{ color:#000;}
.tongcheng_title li a:hover{ color:#e70050;}
.tongcheng_title li span a{ color:#a7a7a7; font-size:12px;}


.tongcheng_detail{ width:620px; margin-left:30px; line-height:25px; color:#313131; padding-top:10px;}
.tongcheng_detail img{ margin-right:15px;}

.tongcheng_detail_center{ width:620px; margin-left:30px; line-height:30px; color:#444444; padding-top:10px; font-size:14px;}
.tongcheng_detail_center img{ width:185px; margin:0 auto; margin-bottom:15px; display:block; text-align:center;}

.write{ width:620px; margin-left:30px; line-height:25px; color:#313131; padding-top:10px; margin-top:1px; overflow:hidden; zoom:1;}
.write h3{ font-size:16px; font-weight:bold; color:#323232; height:30px; border-bottom:2px solid #313131; padding:0 15px;}
.write h3 a{ font-size:12px; font-weight:normal; float:right; color:#999999;}
.write span{ color:#444444; display:block; line-height:25px; margin-top:5px;}
.write span a{ color:#666666;}
.u_opinion{ width:620px;}
.u_opinion textarea{ width:598px; background:#eeeeee; border:1px solid #acacac; color:#323232; padding:10px;}
.u_opinion input{ width:50px; height:25px; line-height:25px; background:#ececec; color:#666666; border:none; border:2px solid #c2c2c2; float:right; margin-top:5px;}

.position{ height:40px; line-height:40px; width:1140px; margin:0 auto; padding-left:140px; font-family:Arial, Helvetica, sans-serif; font-size:24px; margin-top:10px; margin-bottom:10px; color:#212121; font-weight:normal;}
.position a{ color:#212121;}

.fs_ds{ width:500px; margin:0 auto; height:50px; padding-top:30px; overflow:hidden; zoom:1; margin-bottom:20px; overflow:hidden; zoom:1;}
.fs_ds li{ float:left; font-size:42px; font-family:Arial, Helvetica, sans-serif; width:190px; height:45px; text-align:center; line-height:45px;}
.fs_ds li a{ color:#ce4242; display:block;}
.fs_ds li a:hover{ border-bottom:5px solid #ce4242;}

#footer{  height:40px; background:#818181; color:#fff}
#footer a{color:#fff;margin-right:5px;}
.fleft{
	float: left;
	position:relative ;
	margin-top:10px;
}
.fright{
	float:right;
	position:relative ;
	margin-top:10px;
}

.page{ width:725px; height:30px; line-height:30px; margin-top:20px; color:#313131; text-align:center; font-size:14px; font-family:Arial, Helvetica, sans-serif;}
.page a{ color:#313131; margin:0 3px;} 


/*��Աҳ�濪ʼ*/
.main{ width:100%;}
.main_content{ margin-top:10px; float:left; margin-left:30px; _margin-left:20px;}
.main_top{ width:100%; height:50px;}

/*����ʼ*/
.weather{ width:720px; overflow:hidden; zoom:1;}
.city{ width:185px; float:left;}
.today_weather{ width:300px; float:left; margin-left:15px;}

.city_name{ width:185px; overflow:hidden; zoom:1;}
.city_name .cd{ font-size:70px; font-weight:bold; color:#FFFFFF; float:left;}
.city_name .citymore{ width:25px; height:26px; display:block; float:left; margin-top:45px; margin-left:10px;}
.wind{ width:185px; font-size:26px; font-family:"΢���ź�";}
.wind li{ float:left; margin-left:20px; _margin-left:13px; color:#ffffff;}

.today_wd{ width:300px; height:80px; overflow:hidden; zoom:1; background:#FFFFFF; background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;/*ʵ��FF����͸�������ֲ�͸��*/ filter:Alpha(opacity=50);/*ʵ��IE����͸��*/}
.today_wd .today_pic{ float:left; width:110px; position:relative;/*ʵ��IE���ֲ�͸��*/}
.today_wd ul{ float:left; margin-left:5px;}
.today_wd ul li{ font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;}
.today_wd ul .wendu{ font-size:22px; font-weight:bold; position:relative;/*ʵ��IE���ֲ�͸��*/}
.today_wd ul .wendu span{ font-size:38px; font-family:"΢���ź�"; position:relative;/*ʵ��IE���ֲ�͸��*/ color:#000000; margin-left:10px; font-weight:normal;}
.today_wd ul .zhiliang{ position:relative;/*ʵ��IE���ֲ�͸��*/ font-size:16px; font-family:"΢���ź�";}
.today_wd ul .zhiliang .zl{ display:inline-block; width:36px; height:17px; line-height:17px; color:#FFFFFF; background:#f8941d; text-align:center; margin-left:5px;}

.tomorrow{ width:300px; height:60px; background:#FFFFFF;  background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;/*ʵ��FF����͸�������ֲ�͸��*/ filter:Alpha(opacity=30); padding-top:5px;}
.tomorrow li{ float:left; font-size:12px; color:#FFFFFF; position:relative;/*ʵ��IE���ֲ�͸��*/ margin-left:20px; _margin-left:10px; width:120px;}
.tomorrow li span{ display:block; font-size:14px; color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-weight:bold; position:relative;/*ʵ��IE���ֲ�͸��*/ width:120px; height:40px; line-height:40px;}


/*ģ�鿪ʼ*/
.main_content_left{ width:720px; margin-top:100px; overflow:hidden; zoom:1;}
.main_content_left li{ float:left; font-family:Arial, Helvetica, sans-serif; font-size:28px; font-weight:bold; margin-bottom:9px; height:111px;}
.main_content_left li a{ color:#FFFFFF; display:block;}
.main_content_left .dis{ width:234px; background-color:#f26522; background-image:url(../images/icon-01.gif); background-repeat:no-repeat; background-position:center; overflow:hidden; zoom:1;}
.main_content_left .dis_cs{ margin-left:9px; background-color:#0076a3; background-image:url(../images/icon-02.gif);}
.main_content_left .dis_new{ margin-left:9px; width:116px; background-color:#00746b; background-image:url(../images/icon-03.gif); background-position:center; background-repeat:no-repeat;}
.main_content_left .dis_show{ margin-left:9px; width:108px; background-position:center; background-repeat:no-repeat; background-color:#7b006f; background-image:url(../images/icon-04.gif);}
.main_content_left .dis_fs{ background-color:#7b006f; background-image:url(../images/icon-05.gif);}
.main_content_left .dis_fss{ margin-left:9px; background-color:#ee145b; background-image:url(../images/icon-06.gif);}
.main_content_left .dis_tc{ margin-left:9px; background-color:#f26522; background-image:url(../images/icon-07.gif);}

.main_content_left .dis_chy{ background-color:#2269f2; background-image:url(../images/icon-08.gif);}
.main_content_left .dis_que{ margin-left:9px; background-color:#a36300; background-image:url(../images/icon-09.gif);}
.main_content_left .dis_cy{ margin-left:9px; background-color:#741d00; background-image:url(../images/icon-10.gif);}
.main_content_left .dis_wr{ margin-left:9px; background-color:#007b35;}

.dis a{ width:224px; height:40px; padding-left:10px; padding-top:71px; overflow:hidden; zoom:1;}
.dis_new a{ width:106px; height:40px; padding-left:10px; padding-top:71px; overflow:hidden; zoom:1;}
.dis_show a{ width:98px; height:40px; padding-left:10px; padding-top:71px; overflow:hidden; zoom:1;}


/*�ұߵ�¼��ʼ*/
.denglu{ width:440px; float:right; margin-right:30px; _margin-right:20px; padding-bottom:30px; overflow:hidden; zoom:1; margin-top:10px;}

.time{ width:440px; text-align:right; font-size:45px; color:#ffffff; font-family:Arial, Helvetica, sans-serif; filter:alpha(Opacity=80); -moz-opacity:0.8 ;opacity: 0.8;}
.time span{ font-size:72px; display:block; margin-bottom:10px; font-weight:bold;}

.huiyuan_denglu{ width:440px; margin-top:215px; overflow:hidden; zoom:1;}

.huiyuan_tx{ width:120px; text-align:center; font-size:14px; color:#000000; float:left;}
.huiyuan_tx img{ padding:10px; background:#dadada; margin-bottom:5px;}

.huiyuan_dl{ width:310px; float:right; margin-left:7px; font-size:14px;}
.search_text{ width:310px; overflow:hidden; zoom:1;}
.search_text .ser_tex{ width:250px; float:left;}
.ser_tex input{ border:0; font-size:14px;}
.ser_tex .h_dl{ width:230px; height:50px; line-height:50px; padding:0 10px; background:#ffffff; padding-left:12px; border:none; color:#999999;}
.search_text .go{ width:50px; float:right; height:50px; margin-top:70px;}

.huiyuan_dl .choose{ width:310px; margin-top:5px;}
.choose .h_che{ width:20px; height:20px; background:#FFFFFF; vertical-align:middle;}
.choose span{ color:#000000; font-size:14px; margin-right:15px;}

/*ע�Ὺʼ*/
.zhuce{ width:438px; border:1px solid #919191; margin-top:100px; _margin-top:85px; overflow:hidden; zoom:1;} 
.zhuce_title{ height:30px; line-height:30px; border-bottom:1px solid #acb4b7; background:#FFFFFF; color:#212121; font-size:20px; padding-left:10px; background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;/*ʵ��FF����͸�������ֲ�͸��*/ filter:Alpha(opacity=80);}
.zhuce_title p{ position:relative;/*ʵ��IE���ֲ�͸��*/}
.zhuce_list{ background:#FFFFFF; padding:15px 15px 5px 15px; color:#212121;}
.zhuce_list li{ margin-bottom:10px;}
.zhuce_list li label{ font-size:16px; display:inline-block; width:80px;}
.zhuce_list .yhm{ width:248px; height:28px; line-height:28px; border:1px solid #e7e7e7; color:#cccccc; padding-left:10px;}
.zhuce_list li span{ margin-left:5px;}
.zhuce_list .yzm{ height:28px; line-height:28px; border:1px solid #e7e7e7; color:#cccccc; padding-left:10px; width:138px;}

.zhuce_list li a{ color:#54c11a;}
.zhuce_list .tk{ text-align:center; margin-top:15px;}


/*�һ����뿪ʼ*/
.forgot{ width:438px; border:1px solid #919191; margin-top:100px; _margin-top:85px; overflow:hidden; zoom:1;}
.forgot_top{ background:#FFFFFF; border-bottom:1px solid #919191; padding:20px 15px; _padding-bottom:3px;}
.zhaohui{ height:50px; line-height:25px; color:#8b8b8b; padding-left:60px; background:url(../images/icon-13.gif) no-repeat; margin-bottom:20px;}
.zhaohui span{ font-size:20px; font-weight:bold; color:#212121; display:block;}

.forgot_top ul{ width:438px;}
.forgot_top ul li{ text-align:center; font-size:18px; color:#212121; margin-bottom:20px; _margin-bottom:3px;}
.forgot_top ul li input{ height:28px; line-height:28px; width:238px; border:1px solid #e7e7e7; padding-left:10px;}

.forgot_sm{ width:438px; border-top:1px solid #919191; padding:10px; background:#FFFFFF; background:rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;/*ʵ��FF����͸�������ֲ�͸��*/ filter:Alpha(opacity=50);}
.forgot_sm ul{ width:300px; margin-left:50px;}
.forgot_sm li{ line-height:28px; color:#212121; position:relative;/*ʵ��IE���ֲ�͸��*/ font-size:13px;}
.forgot_sm li a{ text-decoration:underline; color:#FF0000; position:relative;/*ʵ��IE���ֲ�͸��*/}



.zc_dl{ width:440px; margin-top:100px; height:50px; padding-bottom:50px; line-height:50px; text-align:right; font-size:23px; color:#FFFFFF;}
.zc_dl a{ color:#000000; padding-left:60px; height:50px; display:inline-block; margin-left:15px;}



